services:
  photon:
    #image: <registry>/rabotaem/photon:latest
    build: ..
    restart: unless-stopped
    hostname: photon
#    ports:
#      - "127.0.0.1:8092:3000"
    env_file: .env
    environment:
      - PUBLIC_INSTANCE_URL=example.com
    networks:
      - proxy-net
    healthcheck:
      test: ["CMD", "node", "-e", "require('http').get('http://localhost:3000', res => process.exit(res.statusCode === 200 ? 0 : 1)).on('error', () => process.exit(1))"]
      interval: 60s
      timeout: 3s
      retries: 5
      start_period: 120s

  autoheal:
    restart: always
    image: willfarrell/autoheal
    environment:
      - AUTOHEAL_CONTAINER_LABEL=all
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  proxy-net:
    external: true
    name: proxynet
